@font-face {
    font-family: 'Lment';
    src: url('/fonts/Lment-v02.woff2') format('woff2'),
        url('/fonts/Lment-v02.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Piazzolla';
    src: url('/fonts/Piazzolla-ThinItalic.woff2') format('woff2'),
        url('/fonts/Piazzolla-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.woff2') format('woff2'),
        url('/fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Piazzolla';
    src: url('/fonts/Piazzolla-Light.woff2') format('woff2'),
        url('/fonts/Piazzolla-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Piazzolla';
    src: url('/fonts/Piazzolla-LightItalic.woff2') format('woff2'),
        url('/fonts/Piazzolla-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Piazzolla';
    src: url('/fonts/Piazzolla-Thin.woff2') format('woff2'),
        url('/fonts/Piazzolla-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Serif';
    src: url('/fonts/RobotoSerif-Light.woff2') format('woff2'),
        url('/fonts/RobotoSerif-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Serif';
    src: url('/fonts/RobotoSerif-Italic.woff2') format('woff2'),
        url('/fonts/RobotoSerif-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Serif';
    src: url('/fonts/RobotoSerif-LightItalic.woff2') format('woff2'),
        url('/fonts/RobotoSerif-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Serif';
    src: url('/fonts/RobotoSerif-Medium.woff2') format('woff2'),
        url('/fonts/RobotoSerif-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('/fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Serif';
    src: url('/fonts/RobotoSerif-MediumItalic.woff2') format('woff2'),
        url('/fonts/RobotoSerif-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Serif';
    src: url('/fonts/RobotoSerif-Regular.woff2') format('woff2'),
        url('/fonts/RobotoSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Serif';
    src: url('/fonts/RobotoSerif-Thin.woff2') format('woff2'),
        url('/fonts/RobotoSerif-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Serif';
    src: url('/fonts/RobotoSerif-ThinItalic.woff2') format('woff2'),
        url('/fonts/RobotoSerif-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'VG5000';
    src: url('/fonts/VG5000-Regular.woff2') format('woff2'),
        url('/fonts/VG5000-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

